<div class="contentWrapper">
    <div class="contentTitle">Game List</div>
    <div class="contentInputWrapper">
        <div class="contentFilter">
            <input type="text" placeholder="search"   name="search"  aria-describedby="searchText"
               [(ngModel)]="searchText" autocomplete="off" autofocus/>
        </div>
        <div class="contentBtn" [routerLink]="['game-creation']">new game</div>
    </div>
    <div *ngFor="let game of games.data | appFilter:searchText" class="contentCard">
        <img class="cardImg" [src]="game.img" [alt]="game.id">
        <div class="cardInfo">
            <div><span class="cardInfoText">Game Name: </span>{{game.game}}</div>
            <div><span class="cardInfoText">Bundle: </span>{{game.bundle}}</div> 
            <div><span class="cardInfoText">Owner: </span>{{game.owner}}</div>
        </div>
        <div (click)="removeGame(game)" class="cardBtn">delete</div>
    </div>
    <p *ngIf="games.data.length==0" class="noFound">no records found</p>
</div>